.wrapper {
  display: grid;
  justify-items: center;  
  padding: 10px 10px;
}

@media screen and (min-width: 750px) {
  .wrapper {    
    height: 100vh;
    grid-template-rows: auto 1fr;
    grid-template-columns: 100%;    
    grid-template-areas:
      'search'
      'results';
    box-sizing: border-box;
    padding-top: 40px;   
  }
}